@charset "utf-8";

/* CSS RESET */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, select, textarea, p, blockquote, th, td, hr, button, figure, menu{margin: 0; padding: 0;}
body{font: 12px/22px Tahoma, Arial, \5b8b\4f53, sans-serif;}
body{min-width: 1096px;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
table{border-collapse: collapse; border-spacing: 0;}
ol, ul{list-style: none;}
a img{border: none; vertical-align: top;}
input, button{font-family: Tahoma, Verdana, Geneva, sans-serif}
a{text-decoration: none;}
a:hover{text-decoration: none;}
i{font-style: normal;}
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
/*OTHER*/
.wrap{ overflow: hidden; zoom: 1;}
.part{ background: url(../images/warp_bg.jpg) no-repeat #49beff top center;}
.main{ width:1000px; margin:0 auto; padding-bottom:100px;}
.banner { background: url(../images/banner.jpg) no-repeat center 0; height: 600px;position: relative;}

.line { height: 1px; width: 35px; background-color: #fe6d88;}

.product-list{width: 1000px; margin: 0 auto;padding:0 0 40px 0;}
.product-list h2 {height: 100px;background: url(../images/h2_bg.png) no-repeat;}
.product-item{}

.pi-content{width: 968px; padding: 16px; background: #ffffff; overflow: hidden; zoom: 1;}
.pi-thumbnail{position: relative; float: left; display: block; width: 640px; font-family: "Microsoft YaHei"; font-size: 16px; color: #ffffff; margin-right: 16px;}
.pi-tag{position: absolute; top: 16px; left: -6px; height: 34px; background: #ff476a; line-height: 34px; padding: 0 18px;}
.pi-tag i{position: absolute; top: 34px; left: 0; display: block; width: 6px; height: 6px; background: url(../images/flag.jpg) no-repeat; }

.pi-desc{float: left; width: 290px; font-family: "Microsoft YaHei"; font-size: 14px; color: #444; margin:0 0 0 10px;}
.pi-desc i {float: left; margin: 13px 10px 0 0; background: #f96; font: 12px/16px \5b8b\4f53,Tahoma,Arial,sans-serif; border-radius: 2px; display: block; height: 16px; color: #fff; padding: 0 5px;}
.pi-rec{font-size: 18px; margin: 8px 0 14px ; color: #ff476a;}
.pi-rec h4{ }
.pi-rec .line { margin:18px 0 30px; }
.pi-highlight{margin:0 0 30px 0; line-height: 20px; overflow-x: hidden; overflow-y: auto; color:#999;}

.pi-book-btn{display: block; width: 120px; height: 28px; background: #ff476a; border-radius:14px; font:800 14px/28px "Microsoft YaHei"; letter-spacing: 1px; color: #ffffff; text-align: center;}
.pi-book-btn:hover{ background: #fe6985;}

.info{ width:920px; padding:0 40px 150px ; margin:40px auto 40px ; background:url(../images/info.jpg) no-repeat center bottom #2c8bcd; font-family: "Microsoft YaHei"; font-size: 14px; color: #ffffff; line-height: 24px;}
.info h4{ font-size: 30px; padding: 40px 0 30px;}

.pop-right { position: fixed; width: 100px; height: 368px; left: 50%; margin-left: 520px; top: 50%; margin-top: -60px; background: url(../images/pop.png) no-repeat; }
.pop-right-close { width: 16px; height: 16px; display: block; margin:8px 0 0 74px; }
.ztfooter{width: 980px; overflow: hidden; margin: 0 auto; text-align: center; color: #666; line-height: 18px; padding: 25px 0 10px 0;}