body { background: #FFE600; font-size: 100px;}
#pikachu { position: absolute; width: 4.2em; height: 2.35em; left: 50%; top: 50%;
    -webkit-transform: translateY(-50%)translateX(-50%);
    -moz-transform: translateY(-50%)translateX(-50%);
    -ms-transform: translateY(-50%)translateX(-50%);
    transform: translateY(-50%)translateX(-50%);
}
.eye { width: .57em; height: .57em; border: .03em solid black; background: #2e2e2e; border-radius: 100%; position: absolute; margin-left: .6em;}
.eyeBall { overflow: hidden; width: .57em; height: .57em; border-radius: 100%; position: absolute; }
.eyeBall:after {width: .28em; height: .28em; background: white; content:''; display: block; position: absolute; border-radius: 100%;margin: .01em 0 0 .07em;}
.eye.right {right:.6em;}
.nose {position: absolute; margin: 0 calc(50% - .11em); margin-top: .38em; width: 0; height: 0; z-index: 1; border-top: .09em solid black; border-left: .11em solid transparent; border-right: .11em solid transparent; box-shadow: 0 -.01em 0 black;}
.nose:before {content: ''; display: block; position: absolute; width: .22em; height: .05em; background: black; border-top-left-radius: .11em .05em; border-top-right-radius: .11em .05em; margin: -.14em 0 0 -.11em;}
.mouth {position: absolute; width: 2.28em; height: 1.8em; margin: .65em calc(50% - 1.14em); overflow: hidden;}
.mouth:after,.mouth:before {content: ''; display: block; position: absolute; width: .8em; height: .25em; background: #FFE600; border: .03em solid black; border-top:none;  top: -.05em; box-shadow: 0 -.2em 0 #FFE600, -.05em -.03em 0 #FEE600;}
.mouth:after  {border-left: none;  right: .3em; -webkit-transform:rotate(25deg);  -moz-transform:rotate(25deg);  -ms-transform:rotate(25deg);  transform:rotate(25deg);  border-bottom-right-radius: .6em .3em;}
.mouth:before {border-right: none; left: .3em;  -webkit-transform:rotate(-25deg); -moz-transform:rotate(-25deg); -ms-transform:rotate(-25deg); transform:rotate(-25deg); border-bottom-left-radius: .6em .3em; z-index: 1;}
.mouth > div { position: absolute; background: #FF485F; width: 2.28em; height: 8em; border-bottom-left-radius: 1.18em 8em; border-bottom-right-radius: 1.18em 8em; margin-top: -6.37em; overflow: hidden;}
.mouth > div:after {content: ''; position: absolute; display: block; width: 1.3em; height: 1em; box-shadow: 0 -.7em 0 #9B000A; bottom: .35em; margin-left: .49em; border-top-left-radius: 100%; border-top-right-radius: 100%;}
.cheek {position: absolute; width: .85em; height: .85em; border: .00em solid black; border-radius: 100%; margin-top: 1.1em; background: #F33;}
.cheek.right {right: 0;}

.nose {-webkit-animation: nose 3s infinite; -moz-animation: nose 3s infinite; -ms-animation: nose 3s infinite; animation: nose 3s infinite;}

@-webkit-keyframes nose {
    0%,25% {-webkit-transform: rotate(0deg);}
    5%,15% {-webkit-transform: rotate(-5deg);}
    10%,20% {-webkit-transform: rotate(5deg);}
    100% {-webkit-transform: rotate(0deg);}
}

@-moz-keyframes nose {
    0%,25% {-webkit-transform: rotate(0deg);}
    5%,15% {-webkit-transform: rotate(-5deg);}
    10%,20% {-webkit-transform: rotate(5deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@-ms-keyframes nose {
    0%,25% {-webkit-transform: rotate(0deg);}
    5%,15% {-webkit-transform: rotate(-5deg);}
    10%,20% {-webkit-transform: rotate(5deg);}
    100% {-webkit-transform: rotate(0deg);}
}
@keyframes nose {
    0%,25% {-webkit-transform: rotate(0deg);}
    5%,15% {-webkit-transform: rotate(-5deg);}
    10%,20% {-webkit-transform: rotate(5deg);}
    100% {-webkit-transform: rotate(0deg);}
}
